* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    text-decoration: none;
}

.centering-container {
    margin: auto;
    max-width: 1300px;
    padding: 0 20px;
}

.background-dark {
    background-color: #333;
    color: #fff;
}

.background-light {
    background-color: #f4f4f4;
    color: #333;
}

.background-primary {
    background-color: #f7c08a;
    color: #333;
}

h1, h2 {
    padding-bottom: 20px;
}

.text-primary {
    color: #f7c08a;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background-color: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    color: #333;
    background-color: #f7c08a;
}

.btn-light {
    color: #333;
    background-color: #f4f4f4;
}
