#contact-form {
    padding: 30px 0;
}

#contact-form h1 {
    font-size: 40px;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form .form-group {
    margin: 20px 0;
}

#contact-form .form-group input,
#contact-form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 2px #ddd solid;
}

#contact-form .form-group input:focus,
#contact-form .form-group textarea:focus {
    outline: none;
    border: 2px #f7c08a solid;
}

#contact-form .form-group textarea {
    height: 200px;
    resize: none;
}

@media(max-width: 300px){
    #contact-form h1 {
        line-height: 45px;
        text-align: center;
    }

    #contact-form p {
        text-align: center;
    }
}