#features-section {
    display: flex;
    justify-content: center;
}

#features-section .info-box {
    width: 100%;
}

@media (max-width: 768px){

    #features-section {
        display: block;
    }

}