#header-navbar {
    background-color: #333;
    color: #fff;
    overflow: hidden;
}

#header-navbar h1 {
    float: left;
    padding-top: 20px;
}

#header-navbar  a {
    color: #fff;
}

#header-navbar ul {
    list-style: none;
    float: right;
}

#header-navbar ul li {
    float: left;
}

#header-navbar ul li a {
    display: block;
    padding: 20px;
}

#header-navbar ul li a:hover,
#header-navbar ul li a.active {
    background-color: #444;
    color: #f7c08a;
}

@media (max-width: 768px){

    #header-navbar h1 {
        float: none;
        text-align: center;
    }

    #header-navbar ul {
        list-style: none;
        float: none;
    }

    #header-navbar ul li {
        float: none;
        text-align: center;
    }

    #header-navbar ul li a {
        padding: 5px;
        border-top: #444 1px dotted;
    }

}