
#info-section {
    height: 400px;
}

#info-section .info-img {
    float: left;
    width: 50%;
    background: url('../images/photo-1.jpg') no-repeat;
    height: 100%;
}

#info-section .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: auto;
}

#info-section .info-content p {
    padding-bottom: 30px;
}