#page-not-found {
    height: 84.5vh;
    text-align: center;
}

#page-not-found i {
    margin: 50px;
    color: #444;
}

#page-not-found .title {
    line-height: 1.3;
}

#page-not-found .description {
    color: #444;
}